.card.bg-light.mb3{
    width:150px;
    height:200px;
    
}

#middleRow{
    position:absolute;
    margin-top:10%;
    width:100%;
}

#player1{
    position:absolute;
    margin: 10% 0% 30% 10%;
}

#player2{
    position:absolute;
    margin:10% 0% 30% 80%;
}

#drawPile{
    position:absolute;
    margin-top:5%;
    margin-left:35%;
}

#discardPile{
    position:absolute;
    margin-top:15%;
    margin-left:50%
} 

.bottomRow{
    position:absolute;
    width:100%;
    margin:50% 0% 5% 45%;
}